# ----------------------------
# Visual Studio
.vs/
*/.vs/
**/.vs/
*.user
*.suo
*.sln.docstates

# ----------------------------
# Build results
bin/
obj/
artifacts/
*.exe
*.dll
*.pdb

# ----------------------------
# ASP.NET Core Secrets / Config
secrets.json
*.db
appsettings.Development.json
appsettings.Local.json
appsettings.*.json

# Push this if it's a safe template:
# !appsettings.json

# ----------------------------
# Others
*.log
*.cache
*.DS_Store
*.swp
*.tmp
*.bak
