<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Capstone_toDoList</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Capstone_toDoList.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="grid-container">
        <header class="main-header">
            <h1><a class="title" asp-area="" asp-controller="Home" asp-action="Index">TO - DO LIST</a></h1>
            <nav class="main-nav">
                <ul>
                    <li class="links"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="links"><a href="prime.html">About</a></li>
                    <li class="links"><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                </ul>
            </nav>
        </header>

        <div class="side-nav">
            <h2>Contents</h2>
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Overview</a></li>
                <li><a href="#">Tasks</a></li>
                <li><a href="#">Completed</a></li>
                <li><a href="#">Deleted</a></li>
            </ul>
        </div>

        <div class="main-content">
                @RenderBody()
        </div>

    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Capstone_toDoList - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
