@{
    ViewData["Title"] = "About WPH";
}


@section FullWidthSection {
    <div class="full-bg">
        <h1>About WPH</h1>
        <p>
            This is my custom WPH about page. For official WPH about page -> 
            <a href="https://wphdigital.com/about" class="custom-link" target="_blank">Official WPH About Page</a>.
        </p>
    </div>
}

<div class="purpose">   
    <h1 class="what"> What do we do?</h1>
    <h3>  We deliver IT Consulting Services and Technology Services from innovation to execution  </h3>
    <p> 
        WPH Digital, we are a multi-disciplinary company that offers a range of IT consulting services and implementation expertise, including digital transformation, digital strategy, technology implementation, artificial intelligence, data analytics, cybersecurity and cloud computing.</p>
       <p> We work together with clients to leverage new technologies to reshape their business, invent new products or transform their organisation, in search of growth opportunities and cost optimization. We’ve got a deep understanding of both the technical and user complexities that come with large and regulated environments, integration of multiple systems, stakeholder and change management.
    </p>

</div>

<div class="glance">
    <h3 >AT A GLANCE</h3>
    <h3>_________________</h3>
</div>

<div class="floating-container">
    
    <div class="floating-box">
        <h2>28+ YEARS</h2>
        <p>Established since 1997 in Singapore, WPH is a full service digital solution delivery agency, with technology as our core.</p>
    </div>
    <div class="floating-box">
        <h2>1000+ PROJECTS</h2>
        <p>We work hard to understand the strategies and focuses of our clients so our work can be more relevant, aligned and long-term.​</p>
    </div>
    <div class="floating-box">
        <h2>4 OFFICES</h2>
        <p> We provide a full range of Digital Services and Technology Solutions to clients in Singapore, Malaysia, Philippines, and Thailand. </p>
    </div>
</div>