@{
    ViewData["Title"] = "About WPH";
}


@section FullWidthSection {
    <div class="full-bg">
        <h1>About WPH</h1>
        <p>
            This is my custom WPH about page. For official WPH about page -> 
            <a href="https://wphdigital.com/about" class="custom-link" target="_blank">Official WPH About Page</a>.
        </p>
    </div>
}

<div class="purpose">   
    <h1 class="what"> What do we do?</h1>
    <h3>  We deliver IT Consulting Services and Technology Services from innovation to execution  </h3>
    <p> 

    </p>

</div>



<div class="floating-container">
    <div class="floating-box">
        <h2>Box 1</h2>
        <p>This is the first floating box.</p>
    </div>
    <div class="floating-box">
        <h2>Box 2</h2>
        <p>This is the second floating box.</p>
    </div>
    <div class="floating-box">
        <h2>Box 3</h2>
        <p>This is the second floating box.</p>
    </div>
</div>