@{
    ViewData["Title"] = "Tasks Lists";
}
<h1 style="margin-bottom:0">Tasks List</h1>
<div class="task-lists-header">
    <div class="dropdown">
      <button class="dropbtn">Priority</button>
      <div class="dropdown-prio">
        <a href="#">Critical</a>
        <a href="#">High</a>
        <a href="#">Medium</a>
        <a href="#">Low</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Category</button>
      <div class="dropdown-category">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Due Date</button>
      <div class="dropdown-due">
        <a href="#">Nearest → Farthest</a>
        <a href="#">Farthest → Nearest</a>
      </div>
    </div>

    <button id="addTaskBtn">Add Task</button>
</div>
    

    <!-- POPUP FOR ADD HTML -->
<div id="addTaskModal"
     class="modal">
        <div class="modal-content">
            <span id="x-button" class="close">&times;</span>
            <form asp-action="AddTask" method="post">
                <label>Title:</label>
                <input type="text" name="Title" required />

                <label>Description:</label>
                <textarea name="Description"></textarea>

                <label for="category">Category:</label>
                    <select name="category" id="category">
                      <option value="Math">School</option>
                      <option value="Science">Household</option>
                      <option value="English">Work</option>
                      <option value="History">Hobby</option>
                      <option value="History">Others</option>
                  </select>


                <label>Due Date:</label>
                <input type="date" name="DueDate" />

                <div class="button-group">
                    <button type="submit">Save Task</button>
                    <button type="button" class="close">Cancel</button>
                </div>
            </form>
        </div>
 </div>

    <!-- Task list display here -->
    <!--<div id="tasksContainer">-->
        @* Render tasks *@
        <!--@foreach (var task in Model)-->
       <!--->{
            <div class="task-card">
                <h3>@task.Title</h3>
                <p>@task.Details</p>
                <p>Assigned To: @task.AssignedTo</p>
            </div>
        }
    </div>
</div>
