@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to My To-Do List App!</h1>
   <p>This app helps you manage tasks efficiently. You can:</p>
    <ul>
        <li>Create, update, and delete tasks</li>
        <li>Mark tasks as completed</li>
        <li>Organize tasks by categories</li>
        <li>View your completed tasks</li>
    </ul>
    <p>Use the sidebar to navigate through your tasks and stay organized!</p>

