.main-header {
  position: absolute;         
  top: 20px;                  
  left: 20px;                 
  text-align: left;
  background-color: #34495E; 
  color: white;
  padding: 20px;
  border-radius: 300px;       
  border-bottom: 5px solid #1ABC9C; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
  z-index: 1000;             
}
